.nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type="button" data-toggle="collapse" data-target="#myNavbar")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/") OnlineSurvey
    #myNavbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-left
        if (currentUser) 
          li.dropdown
            a.dropdown-toggle(href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false") 목록
              b.icon-angle-down
            ul.dropdown-menu
              li
                a(href="#") 새 설문지 만들기
              li
                a(href="#") 설문지 이어 만들기
              li
                a(href="#") 완성된 설문지 보기
              li
                a(href="#") 설문지 결과보기
      ul.nav.navbar-nav.navbar-right
        if (!currentUser) 
          li
            a(href='/signin') Signin
          li
            a(href='/users/new') Signup
        else
          li
            a(href='/users/#{currentUser._id}') Profile
          li
            a(href='/signout') Signout
p  
