extends ../layout

block content
  .container
    h1 설문 만들기
    form(action='/new', method='POST')
      label 설문 제목
      input(type='text' name='serveyTitle' id='serveyTitle')
      label 설문 설명
      textarea(rows='5' name='serveyComment' id='serveyComment')
      .contentArea
      button.btn.btn-primary.contentAdd 문항 추가
  script(type='text/javascript', src='/javascripts/surveyNew.js')
  script(type='text/template', src='/javascripts/surveyNewTemplate.js')
