extends ../layout

block content
  #main.container
    h1.pageTitle 설문 결과
    p
    hr
    p
    table.table.table-bordered
      thead
        tr
          th 응답시간
          each content in contents
            th #{content.title}
      tbody
        each tds in tdsArr
          tr
            each td in tds
              th #{td}
