extends layout

block content
  .container
    .list-group
      each survey in surveys
        if edit
          a.list-group-item(href='/survey/edit/#{survey._id}') #{survey.title}
        else
          a.list-group-item(href='/survey/complete/#{survey._id}') #{survey.title}
