extends layout

block content
  .container
    .row
    a.btn.btn-primary(href='/survey/new') 설문지 만들기
    p
    a.btn.btn-primary(href='/survey/edit/list') 설문지 계속 만들기
    p
    a.btn.btn-primary(href='/survey/complete/list') 설문 조사
    p
