extends layout

block content
  .container
    .row
    a.btn.btn-primary(href='/survey/new') 설문지 만들기
    p
    a.btn.btn-primary(href='/survey/edit') 설문지 계속 만들기
    p
    a.btn.btn-primary(href='/survey/quest/5648e77f61124d501f453150') 설문 조사
    p
