extends ./layout

block content
  .container
    h1.page-header 비밀번호 찾기
    form(action='/password/quest', method='POST')
      .form-group
        input(type='hidden' name='id' value='#{user._id}')
        case user.pwQuest
          when 0
            label(for='password_quest_answer') 당신이 나온 고등학교는?
          when 1
            label(for='password_quest_answer') 당신의 보물 1호는?
          when 2
            label(for='password_quest_answer') 당신의 아버지 성함은?
        input.form-control(type='text', id='password_quest_answer', name='password_quest_answer', placeholder='Your Answer')
      div.form-actions
        a.btn.btn-default(href='javascript:window.history.back();') 뒤로 
        | 
        button.btn.btn-primary(type='submit') 확인
