extends ./layout

block content
  .container
    h1 설문 만들기
    form(action='/new', method='POST')
      label 설문 제목
      input.form-control(type='text' name='serveyTitle' id='serveyTitle')
      label 설문 설명
      textarea.form-control(rows='5' name='serveyComment' id='serveyComment')
      .contentArea
    button.btn.btn-primary.contentAdd 문항 추가
    
  script(type='text/template',  id='contentTemplate')
    p
    .content
      .row
        .col-md-2.contentNum
        .com-md-12
          button.btn.btn-danger.contentDel(type='button') 문항 제거
      .row
        .col-md-2
          label 문항 이름
        .col-md-8
          input.form-control.contentTitle(type='text')
      .row
        .col-md-2
          label 문항 설명
        .col-md-8
          input.form-control.contentComment(type='text')
      .row
        .col-md-2
          label 문항 유형
        .col-md-8
          select.form-control.contentType
            option(selected) 객관식
            option 단일입력
            option 의견
            option 날짜 입력
            option 시간 입력
            option 점수 선택
      .contentValue
        .objOpt
          input.objOptText(type='text', id='objOptText_0', name='objOptText_0')
        .objBtnArea
          .button.btn.btn-primary.objOptCreate(type='button') 옵션 추가
          .button.btn.btn-primary.objEtcCreate(type='button') 기타 추가
          p
          
  script(type='text/template',  id='objBtnAreaTemplate_1')
    .objBtnArea
      .button.btn.btn-primary.objOptCreate(type='button') 옵션 추가
      .button.btn.btn-primary.objEtcCreate(type='button') 기타 추가
      p
      
  script(type='text/template',  id='objBtnAreaTemplate_2')
    .objBtnArea
      .button.btn.btn-primary.objOptCreate(type='button') 옵션 추가
      p
  
  script(type='text/template',  id='objEtcTemplate')
    .objEtc
      input.objEtcText(type='text', id='objEtcText', name='objEtcText', value='기타', disabled)
      a.objEtcDel(href='#') Remove
      
  script(type='text/template',  id='objOptTemplate')    
    .objOpt
      input.objOptText(type='text')
      a.objOptDel(href='#') Remove
  
  
  script(type='text/javascript', src='/javascripts/surveyNew.js')
  
