body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div .rightFloat {
  float: right;
}

div .marginLeft {
  margin-left: 20%;
}

div .contentNum {
  width: 20%;
}

#main .spinner {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2000; }
  #main .spinner .background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }
  #main .spinner .foreground {
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 50%;
    margin-top: -25px;
    z-index: 2001;
    color: #fff; }

#main.loading .spinner {
  display: block; }
