@media screen and (max-width: 700px) {
  .mainBtn {
    font-size: 12px;
  }
  .fbBtn {
    font-size: 12px;
  }
  .pwResetBtn {
    font-size: 13px;
  }
  h1.page-header {
    font-size: 30px;
  }
  h2.list-header {
    font-size: 20px;
  }
  h1.pageTitle {
    font-size: 25px;
  }
}
@media screen and (max-width: 320px) {

  input.objOptValue {
    width: 140px;
  }
  input.objEtcValue {
    width: 140px;
  }
  a.objEtcCreate {
    margin-left: 30%;
  }
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

button#newIdBtn {
  float: right;
}


a.pwResetBtn {
  float: right;
}

.mainBtn {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1.pageTitle {
  text-align: center;
}

div.contentDelArea{
  float: right;
}

div.main {
  width: 100%;
}

img.mainImg {
  width: 100%;
  max-width: 600px;
}

b.necessary {
  color: red;
}



th {
  text-align: center;
}

.chartArea {
  margin-bottom: 30px;
}

button.sendMail {
  float: left;
}

div.mailResult {
  color: blue;
  float: left;
}

#main .spinner {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2000; }
  #main .spinner .background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }
  #main .spinner .foreground {
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 50%;
    margin-top: -25px;
    z-index: 2001;
    color: #fff; }

#main.loading .spinner {
  display: block; }
